h1,
h2 {
    color: mediumpurple;
}

img {
    height: auto;
    width: 400px;
    border-radius: 25px;
}

body {
    text-align: center;
    background-color: bisque;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
    padding: 6px;
}